<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔥 Glitch Cube GPS Tracker - Burning Man 2025</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <!-- Application CSS -->
    <link rel="stylesheet" href="/stylesheets/gps_map.css">
</head>
<body>
    <%= erb :'partials/map_container' %>
    <%= erb :'partials/info_toolbar' %>
    <%= erb :'partials/coordinates_toolbar' %>
    <%= erb :'partials/controls_toolbar' %>
    <%= erb :'partials/legend' %>
    
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <!-- Application Scripts -->
    <%= erb :'partials/gps_map_script' %>
</body>
</html>